
@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&family=Libre+Bodoni:ital,wght@0,400..700;1,400..700&family=Yellowtail&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pathway+Gothic+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
    font-family: "Noto Sans";
}

body {
    margin: 0 auto;
}

/* tete de page*/

header.header {
    display: flex;
    align-items: center;
    background-color: #2A3439;
}

header.header img {
    width: 150px;
}

section.top-page{   
    background-color: #E5E4E2;
    background-size: cover;
    height: 32vh;
}

/* menu de navigation */

nav.nav {
    display: flex;
    justify-content: space-between;
    list-style: none;
    width: 700px;
    margin-left: 50px;
    font-size: 24px;
}

nav.nav li {
    color: white;
}

/* page de bienvenue (landing page) */

.big-title {
    color: #005272;
    font-size: 80px;
    padding-left: 50px ;
    font-family: "Fjalla One";
}

/* texte de bienvenue*/

.welcome-text {
    font-size: 50px;
    font-family: "Pathway Gothic One";
    text-align: center;
    color: #e52f08;
    padding-top: 150px;
}

.text2 {
    font-family: "Noto Sans";
    font-size: 25px;
    font-weight: 600;
    padding-left: 40px;
    padding-top: 75px;
    padding-right: 40px;
    padding-bottom: 400px;
    text-align: center;
}

/* partie "moi" */

section.moi{ 
    background-color: transparent;
}

.moi-title {
    background-color: #E5E4E2;
    color: #005272;
    font-size: 80px;
    padding: 67px 50px ;
    font-family: "Fjalla One";
}

.me-text {
    font-size: 50px;
    text-align: center;
    color: #e52f08;
    padding-top: 150px;
    font-family: "Pathway Gothic One";
}

.canva {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 400px;
}

/* partie "projet fictif" */

section.marque-fictive { 
    background-color: transparent;
}

.project-title {
    background-color: #E5E4E2;
    color: #005272;
    font-size: 80px;
    padding: 67px 50px ;
    font-family: "Fjalla One";
}

.texte-marque {
    font-family: "Noto Sans";
    font-size: 25px;
    font-weight: 600;
    padding-left: 20px;
    padding-right: 20px;
    text-align: justify;
}

.bouteille {
    display: flex;
    align-items: center;
    padding-top: 150px;
    padding-left: 60px;
}

.bouteille img {
    max-width: 750px;
    width: 100%;
}

/* Slider d'image */

.container {
    padding: 2rem;
    width: 100%;
}

.content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.slider-wrapper {
    position: relative;
    max-width: 800px;
    width: 55%;
    padding-right: 80px;
}

.slider-text {
    font-family: "Noto Sans";
    flex: 1;
    font-size: 25px;
    font-weight: 600;
    text-align: justify;
    width: 40%;
    padding-left: 3rem;
    padding-right: 3rem;

}

.slider {
    display: flex;
    aspect-ratio: 16/9 ;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    box-shadow: 0 1.5rem -0.75rem hsla(0,0%,0%,0.25);
    border-radius: 0.5rem;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.slider ::-webkit-scrollbar {
    display: none;
}

.slider img {
    flex: 1 0 100%;
    scroll-snap-align: start;
    object-fit: cover;
}

.slider-nav {
   display: flex; 
   column-gap: 1rem;
   position: absolute;
   bottom: 1.25rem;
   left: 50%;
   transform: translateX(-50%);
   z-index: 1;
}

.slider-nav a {
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 50%;
    background-color: #000000;
    opacity: 0.75;
    transition: opacity ease 250ms;
}

.slider-nav a:hover {
    opacity: 1;
}

/* Slider d'images 2 */

.container2 {
    padding: 2rem;
    width: 100%;
}

.content2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.slider-wrapper2 {
    position: relative;
    max-width: 800px;
    width: 55%;
    padding-right: 5rem;
}

.slider-text2 {
    font-family: "Noto Sans";
    flex: 1;
    font-size: 25px;
    font-weight: 600;
    text-align: justify;
    width: 40%;
    padding-right: 80px;

}

.slider2 {
    display: flex;
    aspect-ratio: 16/9 ;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    box-shadow: 0 1.5rem -0.75rem hsla(0,0%,0%,0.25);
    border-radius: 0.5rem;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.slider2 ::-webkit-scrollbar {
    display: none;
}

.slider2 img {
    flex: 1 0 100%;
    scroll-snap-align: start;
    object-fit: cover;
}

.slider-nav2 {
   display: flex; 
   column-gap: 1rem;
   position: absolute;
   bottom: 1.25rem;
   left: 50%;
   transform: translateX(-50%);
   z-index: 1;
}

.slider-nav2 a {
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 50%;
    background-color: #000000;
    opacity: 0.75;
    transition: opacity ease 250ms;
}

.slider-nav2 a:hover {
    opacity: 1;
}

/* texte 3 */

.text3 {
    font-family: "Noto Sans";
    font-size: 25px;
    font-weight: 600;
    text-align: justify;
    padding-left: 3rem;
    padding-right: 5rem;
}

.image-3 {
    display: flex;
    align-items: center;
    padding-top: 150px;
    padding-left: 60px;
    justify-content: space-between;
    padding-right: 50px;
}

.image-3 img {
    max-width: 750px;
    width: 100%;
}

/* texte 4 */

.text4 {
    font-family: "Noto Sans";
    font-size: 25px;
    font-weight: 600;
    text-align: justify;
    padding-right: 50px;
    padding-left: 5rem;
}

.image-4 {
    display: flex;
    align-items: center;
    padding-top: 150px;
    justify-content: space-between;
    padding-left: 50px;
    padding-bottom: 400px;
}

.image-4 img {
    max-width: 750px;
    width: 100%;
}

/* Projets diverses */

section.projects{ 
    background-color: transparent;
}

.projects-title {
    background-color: #E5E4E2;
    color: #005272;
    font-size: 80px;
    padding: 67px 50px ;
    font-family: "Fjalla One";
}

.projects-text {
    font-size: 50px;
    text-align: center;
    color: #e52f08;
    padding-top: 150px;
    font-family: "Pathway Gothic One";
}

.projects-text2 {
    font-family: "Noto Sans";
    font-size: 25px;
    font-weight: 600;
    text-align: center;
    padding-left: 200px;
    padding-right: 200px;
    padding-top: 75px;
    }

.container67 {
   width: 1000px; 
   height: 562.5px;
   margin: 0 auto;
   padding-top: 150px;
}


.vg-title {
    font-size: 50px;
    text-align: center;
    color: #e52f08;
    padding-top: 150px;
    font-family: "Pathway Gothic One";
}

.vg-text {
    font-family: "Noto Sans";
    font-size: 25px;
    font-weight: 600;
    text-align: center;
    padding-left: 200px;
    padding-right: 200px;
    padding-top: 75px; 
    padding-bottom: 150px;
    }

    /* Slider d'image 3 */

.container3 {
    padding: 2rem;
    width: 100%;
}

.content3 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-bottom: 400px;
}

.slider-wrapper3 {
    position: relative;
    max-width: 800px;
    width: 55%;
    padding-right: 80px;
}

.slider-text3 {
    font-family: "Noto Sans";
    flex: 1;
    font-size: 25px;
    font-weight: 600;
    text-align: justify;
    width: 40%;
    padding-left: 3rem;
    padding-right: 3rem;

}

.slider3 {
    display: flex;
    aspect-ratio: 16/9 ;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    box-shadow: 0 1.5rem -0.75rem hsla(0,0%,0%,0.25);
    border-radius: 0.5rem;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.slider3 ::-webkit-scrollbar {
    display: none;
}

.slider3 img {
    flex: 1 0 100%;
    scroll-snap-align: start;
    object-fit: cover;
}

.slider-nav3 {
   display: flex; 
   column-gap: 1rem;
   position: absolute;
   bottom: 1.25rem;
   left: 50%;
   transform: translateX(-50%);
   z-index: 1;
}

.slider-nav3 a {
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 50%;
    background-color: #000000;
    opacity: 0.75;
    transition: opacity ease 250ms;
}

.slider-nav3 a:hover {
    opacity: 1;
}

/* Dessins */

section.draw{ 
    background-color: transparent;
}

.draw-title {
    background-color: #E5E4E2;
    color: #005272;
    font-size: 80px;
    padding: 67px 50px ;
    font-family: "Fjalla One";
}

.draw-title2 {
    font-size: 50px;
    text-align: center;
    color: #e52f08;
    padding-top: 150px;
    font-family: "Pathway Gothic One";
}

.draw-text {
    font-family: "Noto Sans";
    font-size: 25px;
    font-weight: 600;
    text-align: center;
    padding-left: 200px;
    padding-right: 200px;
    padding-top: 75px;
    }

    /* Carrousel */

    .carousel {
        margin: 100px auto;
        width: 90%;
        border: 5px solid red;
        display: flex;
        overflow-x: auto;
    }

    .carousel::-webkit-scrollbar {
        display: none;
    }

    .group {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1em;
        animation: spin 25s infinite linear;
        padding-right: 1em;
    }

    .card {
        flex: 0 0 800px;
        height: 800px;
        overflow: hidden;
        padding: 0;
        background: none;
        align-content: center;
    }

    .card img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: block;
    }

    @keyframes spin {
        from {translate: 0;}
        to {translate: -100%;}
    }

